@model IEnumerable<Procurement.WebAPP.Models.Custumer.ViewModelCustumerOrderItemListingItem>

@using Procurement.Model.Entities;
@using Procurement.WebAPP.Models.Custumer;

@{
     

    ViewModelCustumerOrderItemListing vmCustumerOrderItemListing = this.ViewBag.ViewModelCustumerOrderItemListing;

}

<p>
    @Html.ActionLink("Back to Order Details", "Details", new { id = vmCustumerOrderItemListing.CustumerOrder.ID })
</p>


<div>

    <h4>Order Item Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            UNSPSC:
        </dt>

        <dd>
            @vmCustumerOrderItemListing.CustumerOrderItem.Item.UNSPSC
        </dd>

        <dt>
            Quantity
        </dt>

        <dd>
            @vmCustumerOrderItemListing.CustumerOrderItem.Quantity
        </dd>

        <dt>
            Desired Date Delivery
        </dt>

        <dd>
            @vmCustumerOrderItemListing.CustumerOrderItem.DesiredDateDelivery.ToShortDateString()
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @vmCustumerOrderItemListing.CustumerOrderItem.Description
        </dd>


    </dl>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceByQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvidedDateDelivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceByQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvidedDateDelivery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>


        </tr>
    }

</table>
